

@media screen and (max-width: 767px){
    .wrapper{
        width: 100%;
        position: relative;
        color: white;
        text-align: center;
        height: 40px;
    }

    #check-menu{
        display: none;
    }

    label{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 55px;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
    }

    .burger-line{
        position: absolute;
        top: 8px;
        right: 10px;
        width: 35px;
        height: 5px;
        background-color: rgb(0, 0, 0);
        transition: .5s all;
    }

    .second, .third{
        top: 18px;
    }

    .fourth{
        top: 28px;
    }

    .main-menu1{
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

   .main-menu1 a{
        display: block;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        background: linear-gradient(to left, rgba(48, 48, 48, 0.99), rgba(61, 61, 61, 0.85));
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        transition:color .5s;
        font-weight: bold;
    }



    #check-menu:checked ~ .main-menu1{
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .first{
        display: none;
    }

    #check-menu:checked ~ .second{
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth{
        display: none;
    }
    .skill-box{
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .hero{
        flex-wrap: wrap;
        text-align: start;
        &-text{
            padding-top:10px ;
        }
        &-lg{
            display: none
        }
    }
    .photo{
        display: none;    
    }
    .photo1{
        max-width: 100%;
        opacity: 0.9;
    }
    .header{
        padding-top: 10px;
        
    }
    .bga{
        padding-top: 25px !important;
    }

}


@media screen and (min-width: 768px){
    .wrapper{
        display: none;
    }
    .photo1{
        display: none;
    }

}
